doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        title Document
    body
        .container
            main.main
                .main-decor 
                    img.main-decor__top-decor(src="./src/main/Vector 12.png", alt="")
                    img.main-decor__top-decor_bottom(src="./src/main/Vector 11.png", alt="")
                    img.main-decor__bottom-decor_top(src="./src/main/Vector 8.png", alt="")
                    img.main-decor__bottom-decor(src="./src/main/Vector 10.png", alt="")
                .pink-ellipse 
                .rectangle
                .ellipse-cursor
                .polygon
                header.header
                    .logo 
                        img.logo__img(src="./src/main/logo.png", alt="")
                        .logo__text TeamWork
                    nav.nav
                        ul.nav__list
                            li.nav__item 
                                a.nav__link Product 
                            li.nav__item 
                                a.nav__link Solution
                            li.nav__item 
                                a.nav__link Enterprise
                            li.nav__item 
                                a.nav__link Pricing
                    button.button.button_invisible Login 
                    button.button Sign Up
                .title-group
                    button.button.button_gray 👋 Welcome to TeamFlow
                    h1.title-group__title Work the way that works for you
                    .line
                    h2.title-group__text Create, Build, Collaborate and ship products very faster 
                    button.button Get Started
                .comments
                    img.photo-women(src="./src/main/women.png", alt="")
                    .women__comment
                        img.bg(src="./src/main/Rectangl.png", alt="")
                        .name-women Lucy Niana
                        .h1 Develop Communication Plan
                        img.stars_women(src="./src/main/Group 7.png", alt="")
                        .button-done Done
                        .yellow-ellips 
                        .yellow-vector
                    .men__comment
                        img.bg.bg_men(src="./src/main/Rectangle 7.png", alt="")
                        .name-men Mark Anderson
                        .h2 Update Contract Agreement
                        img.stars_men(src="./src/main/Group 8.png", alt="")
                        .button-pending Pending
                    img.photo-men(src="./src/main/men.png", alt="")

            .about-us 
                .line-2
                .text-teamflow See why over 100,000 teams choose TeamFlow.com
                .company 
                    img.hulu(src="./src/about_us/company/hulu.png", alt="")
                    img.bbc(src="./src/about_us/company/bbc.png", alt="")
                    img.universal(src="./src/about_us/company/universal.png", alt="")
                    img.adobe(src="./src/about_us/company/adobe.png", alt="")
                .among-text
                    .proposition What you 
                    .yellow-text can do?
                .blocks 
                    .block
                        img.icon(src="./src/about_us/icons/graph.png", alt="")
                        .strong Business Planning
                        .secondary-text Our Business Plan is a written document describing a company’s core business activities.

                    .block
                        img.icon(src="./src/about_us/icons/financial.png", alt="")
                        .strong Financial Planning
                        .secondary-text Our expert team sensible decision about their money, to ensure they achieve the life goals. A financial plan.

                    .block
                        img.icon(src="./src/about_us/icons/market.png", alt="")
                        .strong Market Analysis
                        .secondary-text A market analysis is a quantitative and qualitative assessment of a market. It looks into the size of the market.

            .our-features 
                .among-text-2
                    .proposition Our 
                    .yellow-text Features
                img.map(src="Group32.png" usemap="#image-map")
                map(name="image-map")
                    area(target="t1" alt="" title="" href="" coords="211,501,30" shape="circle")
                    area(target="t2" alt="" title="" href="" coords="358,322,48" shape="circle")
                    area(target="t3" alt="" title="" href="" coords="491,265,28" shape="circle")
                    area(target="t4" alt="" title="" href="" coords="37,202,42" shape="circle")

                .info-container
                    .info-block
                        p.info Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas repellat recusandae doloribus expedita consectetur eaque, non, consequuntur sed, mollitia labore aliquid ut quae et nostrum quis? Sunt fuga at unde.
                    .info-block
                        p.info Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, quasi! Facere consequuntur placeat sit perspiciatis numquam? Dolor quo soluta optio. Illum sapiente labore fugit laboriosam facere voluptatum necessitatibus repellat ratione?
                    .info-block
                        p.info Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio magni, cumque fugiat velit deleniti libero deserunt saepe nemo alias nostrum, explicabo adipisci magnam obcaecati earum incidunt voluptatem neque tempore? Temporibus.
                    .info-block
                        p.info Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates quas aspernatur, assumenda, quaerat nemo nihil delectus temporibus corporis veritatis libero quasi rerum? Eveniet dolores quibusdam temporibus. Ea, aliquam temporibus! Odit?  


                .workspace-group 
                    .workspace-group__title Manage everything in one workspace
                    .line 
                    .workspace-group__text Planning, tracking and delivering your team’s best work has never been easier. An integrated workspace that’s simple to use, TeamFlow lets you spend less time managing your work and more time actually doing it.
            .minutes 
                .minutes-group 
                    .workspace-group__title Set up in minutes
                    .line 
                    .workspace-group__text Get started fast with hundreds of visual and customizable templates - or create your own. Use our free online template maker to create beautiful template in minutes. Choose from hundreds of pre-made templates and tell stories with data with our easy drag-and-drop infographic creator.
                img.boy(src="./src/minutes/boy.png", alt="")
            .program
                .text
                    .yellow-text-2 Integrate  
                    .proposition with your existing tools in a few clicks
                .apps 
                    img.app(src="./src/programs/zoom.png", alt="")
                    img.app(src="./src/programs/monday.png", alt="")
                    img.app(src="./src/programs/branex.png", alt="")
                    img.app(src="./src/programs/dropbox.jpg", alt="")
                    img.app(src="./src/programs/google_drive.png", alt="")
                button.button-center View All
                .blue-ellipse

            .automations 
                img.photo_girl(src="./src/auto/girl.png", alt="")
                .automations-group 
                    .workspace-group__title Save time with Automations
                    .line 
                    .workspace-group__text Automate the repetitive work in seconds so you can avoid human error and focus on what matters. It gives the impression of software that its highly automated which implies that it is good for client for who want to save time and manage team members easily.
            
            .view 
                .view-group 
                    .workspace-group__title Visualize work with Views
                    .line 
                    .workspace-group__text View data as a map, calendar, timeline, kanban, and more The easy-to-use, visual interface lets any team member jump in and get started, no training required.
                    img.icons(src="./src/view/icons.png", alt="")
            .support
                img.review(src="./src/support/review.png", alt="")
                .support-group 
                    .workspace-group__title 24/7 Customer Support
                    .line 
                    .workspace-group__text Our team is here to give you personalized support within the hour available 24/7. In accordance with our commitment to providing superior and professional service. Join daily live webinars, watch our tutorials, or browse through our knowledge base
                    .button Read More
            
            .client 
                    Testimonials
                    img.card(src="./src/client/map.png" usemap="#image-map")
                    map(name="image-map")
                        area(target="t5" alt="" title="" href="" coords="867,373,49" shape="circle")
                        area(target="t6" alt="" title="" href="" coords="375,626,50" shape="circle")
                        area(target="t7" alt="" title="" href="" coords="629,827,40" shape="circle")
                        area(target="t8" alt="" title="" href="" coords="486,331,32" shape="circle")
                        area(target="t9" alt="" title="" href="" coords="1247,335,31" shape="circle")
                        area(target="t10" alt="" title="" href="" coords="1377,625,52" shape="circle")
                        area(target="t11" alt="" title="" href="" coords="1145,826,43" shape="circle")

            .subscribe-block
                .orange-text Support
                .subscribe Subscribe Newsletter & get
                .news Company News
                .input-wrapper
                    input.email(type="text", placeholder="Your email")
                    button.button.button_subscribe Subscribe
            .footer 
                .team-flow
                    img.main-logo(src="./src/footer/Logo.png", alt="")
                    .web-site All Rights Reserved © teamflow.com
                    .address Address
                    .location 26 W 12th St. New York, NY 10342, NYC
                    .media Social Media
                    .media-icons
                        img.fb(src="./src/footer/fb.png", alt="")
                        img.instagram(src="./src/footer/instagram.png", alt="")
                        img.twitter(src="./src/footer/twitter.png", alt="")
                        img.youtube(src="./src/footer/youtube.png", alt="")
                .menu
                    .submenu
                        .main-title Product
                        ul
                            li Product
                            li Pricing
                            li Enterprise
                            li Partners
                            li Affiliate
                            li Integrations
                            li Developers
                            li Students
                            li Work OS

                    .submenu
                        .main-title Team
                        ul
                            li About Us
                            li Contact Us
                            li Careers
                            li Find a Partner
                            li In the News

                    .submenu
                        .main-title Solutions
                        ul
                            li Project Management
                            li Marketing
                            li CRM and Sales
                            li Software Development
                            li Constructions
                            li Creative Production
                            li Remote Work
                            li HR
                            li IT
                            li See More Solutions

                    .submenu
                        .main-title Resources
                        ul
                            li Knowledge Base
                            li Guides
                            li Daily Webinars
                            li Community
                            li Customer Stories
                            li Templates
                            li Professionals Services
                            li Video Tutorials
                            li Blog
                            li Podcast
        script(src="script.js")